{% extends 'base.html.twig' %}


{% block body %}
    <form method="post">
        <div>
            <label for="raisonSociale" class="block mb-2 text-xs leading-[22px] tracking-[1.5px]">Raison sociale</label>
            <input name="raisonSociale" id="raisonSociale" value="{{ lastMail | default("") }}" placeholder="Exemple" class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400/50 bg-white border-2 border-red-500 rounded-md focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40 focus:placeholder-white" />
        </div>
        <div>
            <label for="type" class="block mb-2 text-xs leading-[22px] tracking-[1.5px]">Type</label>
            <input type="type" name="type" id="type" placeholder="client" class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400/50 bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40 focus:placeholder-white" />
        </div>
        <div>
            <label for="login" class="block mb-2 text-xs leading-[22px] tracking-[1.5px]">Username</label>
            <input type="login" name="login" id="login" placeholder="Username" class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400/50 bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40 focus:placeholder-white" />
        </div>
            <div class="mt-6">
                <div class="flex justify-between mb-2">
                    <label for="password" class="text-xs leading-[22px] tracking-[1.5px]">Mot de passe</label>
                </div>
                <input type="password" name="password" id="password" placeholder="**********" class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400/50 bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40 focus:placeholder-white"/>
            </div>
            {#<div class="mt-6">
                <div class="flex justify-between mb-2">
                    <label for="password" class="text-xs leading-[22px] tracking-[1.5px]">Confirmer mot de passe</label>
                </div>
                <input type="password" name="passwordC" id="passwordC" placeholder="**********" class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400/50 bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40 focus:placeholder-white"/>
            </div>#}
        <div class="mt-6">
            <button
                    class="w-full px-4 py-2 tracking-[2px] text-white transition-colors transform bg-[#cca688] rounded-full hover:bg-[#8e6f57] focus:outline-none focus:bg-blue-400 focus:ring focus:ring-blue-300 focus:ring-opacity-50 duration-300">
                S'inscrire
            </button>
        </div>
    </form>
{% endblock %}


